# APP SETTINGS
NODE_ENV=development
PORT=3000

# CORS ALLOWED ORIGINS
FRONTEND_ORIGIN=http://localhost:4200,http://127.0.0.1:4200,http://localhost:5173,http://127.0.0.1:5173

# DATABASE
MONGODB_URI=mongodb://localhost:27017/my-app-db

# SECURITY
BCRYPT_ROUNDS=12
JWT_SECRET=your-long-random-secret-at-least-32-characters
JWT_EXPIRATION=15m

# SEEDING
ADMIN_PASSWORD_SEED=Admin@123
USER_PASSWORD_SEED=User@123